# AnonOS GRUB Configuration

set gfxmode=auto
set gfxpayload=keep

insmod all_video
insmod gfxterm
insmod gfxmenu
insmod png
insmod usbms
insmod part_gpt
insmod fat
insmod ext2

terminal_input gfxterm
terminal_output gfxterm

set timeout=15
set default="anonos"

menuentry "AnonOS" --class arch --class gnu-linux --class gnu --class os {
    set_theme "${prefix}/themes/anonos/theme.txt"
    linux /boot/vmlinuz-linux archisobasedir=%INSTALL_DIR% archisolabel=%ISO_LABEL% quiet loglevel=3
    initrd /boot/initramfs-linux.img
}

menuentry "AnonOS (fallback)" --class arch --class gnu-linux --class gnu --class os {
    linux /boot/vmlinuz-linux archisobasedir=%INSTALL_DIR% archisolabel=%ISO_LABEL% quiet loglevel=3
    initrd /boot/initramfs-linux-fallback.img
}

menuentry "AnonOS (nomodeset)" --class arch --class gnu-linux --class gnu --class os {
    linux /boot/vmlinuz-linux archisobasedir=%INSTALL_DIR% archisolabel=%ISO_LABEL% quiet loglevel=3 nomodeset
    initrd /boot/initramfs-linux.img
}

menuentry "UEFI Shell" --class shell {
    chainloader /EFI/shell_x64.efi
}

menuentry "Reboot" --class reboot {
    reboot
}

menuentry "Shutdown" --class shutdown {
    halt
}
