# AnonOS PXE Syslinux Config
PATH ../boot/syslinux

MENU TITLE AnonOS PXE Boot
TIMEOUT 50
DEFAULT anonos

LABEL anonos
    MENU LABEL ^Boot AnonOS via PXE
    MENU DEFAULT
    LINUX ../../boot/vmlinuz-linux
    INITRD ../../boot/initramfs-linux.img
    APPEND archisobasedir=%INSTALL_DIR% archisolabel=%ISO_LABEL% ip=dhcp quiet loglevel=3

LABEL anonos-nfs
    MENU LABEL Boot AnonOS via NFS
    LINUX ../../boot/vmlinuz-linux
    INITRD ../../boot/initramfs-linux.img
    APPEND archisobasedir=%INSTALL_DIR% archisolabel=%ISO_LABEL% net=nfs quiet loglevel=3
