# AnonOS Syslinux Configuration
DEFAULT anonos
PROMPT 0
TIMEOUT 50

UI menu.c32
MENU TITLE AnonOS
MENU BACKGROUND splash.png

LABEL anonos
    MENU LABEL AnonOS
    LINUX ../boot/vmlinuz-linux
    INITRD ../boot/initramfs-linux.img
    APPEND archisobasedir=%INSTALL_DIR% archisolabel=%ISO_LABEL% quiet loglevel=3

LABEL anonos-nosystemd
    MENU LABEL AnonOS (without systemd)
    LINUX ../boot/vmlinuz-linux
    INITRD ../boot/initramfs-linux.img
    APPEND archisobasedir=%INSTALL_DIR% archisolabel=%ISO_LABEL% quiet loglevel=3 systemd.log_level=0

LABEL memtest
    MENU LABEL MemTest86+
    LINUX ../boot/memtest86+/memtest
